.moving-text {
    width: 100%; /* Full width */
    overflow: hidden; /* Hide overflow to make text appear to move */
    white-space: nowrap; /* Prevent line breaks */
    background-color: #e36826;
    color: rgb(23, 21, 21);
}


.moving-text > div {
    display: flex;
    flex-direction: row;
    padding-left: 100%; /* Start the text off-screen to the right */
    animation: moveText 10s linear infinite; /* Animate the movement */
}

@keyframes moveText {
    0% {
        transform: translateX(100%); /* Start from the right */
    }
    100% {
        transform: translateX(-100%); /* Move to the left */
    }
}
